/*_____________________________out___________________________*/

@import url('https://fonts.googleapis.com/css?family=Lora|Roboto');
/*font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;*/
/*_____________________________global___________________________*/
body{
	margin: 0;
	font-family: 'Roboto', arial;
	background: #F4F4F4;
	min-height: 100vh;
	font-size: 16px;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	/*overflow-y: hidden;*/
	
	transition: 1s;
}
a{
	text-decoration: none;
	color: #E6323A;
}
a:hover{
	color: #fff;
}

img{
	vertical-align: bottom;
}
figure{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul{
	padding-left: 0;
}
/*_____________________________header___________________________*/
.header{
	background: #010101;
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}
.crossroad-img{
	max-width: 900px;
	margin: 0 auto;
}
.crossroad-img img{
	width: 100%;
}
.crossroad-about{
	font-size: 1.5em;
	min-height: 52vh;

	background: #F4F4F4;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mision{
	color: gray;
}

.btn-know-more{
	max-width: 400px;
	padding: 10px 20px;
	font-size: 1.1em;
	margin: auto auto;
	color: #fff;
	cursor: pointer;

	background: transparent;
	border: 2px solid #fff;
	border-radius: 3px;
	transition: .4s;
}
.btn-know-more a{
	color: #fff;
}
.btn-know-more:hover a{
	color: #000;
}
.btn-know-more:hover{
	background: #fff;
	color: #000;
}
.btn-know-more:active, .btn-know-more:active a{
	color: #000;
	border-color: #000;
	outline: none;
}
/*_____________________________main-content___________________________*/
.programs-container{
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.programs-container .description{
	flex: 1;
	text-align: center;
	max-width: 70vw;
	
	font-size: 1.8em;

}
.programs-container h2{
	margin: 5vh 0;
	text-align: center;
	font-size: 3em;
}

.programs{
	font-family: 'Lora', serif;
	min-width: 97vw;
	min-height: 65vh;
	background: #3F3F3F;

	display: flex;
	justify-content: space-around;

}
.program{
	width: 33%;
	min-width: 0;
	min-height: 65vh;
	background: #323232;
	transition: .7s;
	color: #fff;

	position: relative;

}
.group-program{
	background: #fff;
	color: #000;
}
.mix-program{
	background: #000;
}
.personal-program{
	background: #EC3138;
	
}
.program-title{
	font-size: 1.5em;
	text-align: center;

	
	padding-top: 35%;
	
	transition: .5s;
}
.program p{
	font-size: 1px;
	max-width: 70%;
	padding-left: 5%;
	opacity: 0;
	visibility: hidden;
	transition: .6s;

}
/*hovers*/
.program:hover{
	width: 100%;
}
.program:hover .program-title{
	padding: 5%;
	font-size: 2em;
}
.program:hover p{
	font-size: 1.1em;
	visibility: initial;
	opacity: 1;
}
/*_____________________________mod3___________________________*/
.why-learn{
	min-height: 100vh;
}
/*_____________________________footer___________________________*/
.footer{
	min-height: 50vh;
	min-width: 100%;
	background: #010101;
	font-family: 'Lora', serif;
}
.crossroad-img-footer{
	max-width: 400px;
	margin: 0 auto;
}
.crossroad-img-footer img{
	width: 100%;
}
.contacts{
	width: 100%;
	text-align: center;
	margin-top: 10vh; 
}
.contacts span{
	color: #fff;
}
/*_____________________________medias___________________________*/

@media screen and ( max-width: 768px ){
	.programs{
		flex-direction: column;
		min-width: 80vw;
	}
	.program{
		min-width: 100%;
	}

}
@media screen and ( max-width: 500px ){
	body{
		font-size: 14px;
	}
	.programs{
		flex-direction: column;
	}
	.program:hover .program-title{
	padding: 5%;
	font-size: 1.7em;
	}
	.program{
		min-width: 100%;
	}

}