/*_____________________________out___________________________*/
/* iconst */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hfob9n');
  src:  url('../fonts/icomoon.eot?hfob9n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hfob9n') format('truetype'),
    url('../fonts/icomoon.woff?hfob9n') format('woff'),
    url('../fonts/icomoon.svg?hfob9n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea91";
}

.icon-facebook:hover:before {
  color: #3B5998;
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-instagram:hover:before {
  color: #d10869;
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-whatsapp:hover:before {
  color: rgb(0, 230, 118);
}

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lora|Roboto');
/*font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;*/
/*_____________________________global___________________________*/
:root{
	--main-red: #EC3138;
	--german-yellow: #FFCF00;
	--german-red: #DE0000;
}




body{
	margin: 0;
	font-family: 'Roboto', arial;
	background: #F4F4F4;
	min-height: 100vh;
	font-size: 16px;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	transition: 1s;
}
body::-webkit-scrollbar{
  display: none;
}
a{
	text-decoration: none;
	color: #E6323A;
} 
a:hover{
	color: var(--main-red);
}

img{
	vertical-align: bottom;
}
figure{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul{
	padding-left: 0;
}
.template-btn, .program a{
	max-width: 400px;
	padding: 10px 20px;
	font-size: 1.1em;
	margin: auto auto;
	cursor: pointer;
	outline: none;
	transition: .6s;
	border-radius: 100px;
	background: transparent;
	color: #fff;
	display: inline-block;
}

.explore a{
	color: #fff;
}
/* __________________flotantes___________________________ */


/*_____________________________header___________________________*/

.header{
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	background: linear-gradient(to right, #010101, #282828, #010101);
	z-index: -2;
}
.crossroad-img{
	background: #010101;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}
.crossroad-img img{
	max-width: 900px;
	width: 100%;
}
.crossroad-about{

	position: relative;
	flex: 1;

	color: #fff;
	overflow: hidden;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

}

/* vvvvvv BACKGROUND header */
.background-header{
	top: 0;
	position: absolute;
	z-index: -1;

}
.words-container{
  	position: relative;
	min-height: 15vh;
  	width: 300vw;
  	font-size: 3em;
  	white-space: nowrap;
  	color: #000;
  	animation: moveX 50s infinite linear;
  	animation-direction: alternate;
}
.words-container:nth-of-type(odd){
  animation-direction: alternate-reverse;
}
/* animacion background */
@keyframes moveX {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-66%);
  }
}
/* ^^^^^^ BACKGROUND header */

/* opinion/ tamanio/ edad/ forma/ color/ origen/ material/ proposito  */
.content-crossroad-about {
	font-size: 16px;

	display: flex;
	flex-direction: column;

	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.main-title{
	font-size: 2em;
}
.mision{
	font-size: 1.5em;
	color: #AAAAAA;	
}




/*_____________________________main-content___________________________*/
.programs-container{
	min-height: 100vh;
	min-width: 99%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-bottom: dashed .5px;


}
.programs-container .description{
	flex: 1;
	text-align: center;
	max-width: 70vw;
	
	font-size: 1.8em;

}
.programs-container h2{
	margin: 5vh 0;
	text-align: center;
	font-size: 3em;
}

.programs{
	font-family: 'Lora', serif;
	min-width: 100vw;
	min-height: 55vh;
	background: #3F3F3F;

	display: flex;
	justify-content: space-around;

}
.program{
	width: 33%;
	min-width: 0;
	min-height: 100%;
	background: #323232;
	transition: .7s;
	color: #fff;

	position: relative;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.group-program{
	background: #fff;
	color: #000;
}
.online-program{
	background: #000;
}
.personal-program{
	background: var(--main-red);
	
}
.program-title{
	font-size: 1.5em;
	text-align: center;

	
	padding-top: 35%;
	
	transition: .5s;
}
.program p{
	font-size: 1px;
	max-width: 70%;
	padding-left: 5%;
	opacity: 0;
	visibility: hidden;
	transition: .6s;
	
	align-self: flex-start;
}
/* programs */
.program a{
	opacity: 0;
	visibility: hidden;
}
.program:hover a{
	animation: .7s progresive-opacity ease-out forwards;
	animation-delay: .7s;
	visibility: visible;
}
.program:nth-of-type(odd) .explore{
	border: 2px solid #000;
	color: #000;
}
.program:nth-of-type(odd) .explore a{
	color: #000;
}
.mix-explore{
	background: transparent;
	border: 2px solid #fff;
}
.group-explore:hover{
	background: rgba(0, 0, 0, .2)
}
.mix-explore:hover, .personal-explore:hover{
	background: rgba(255, 255, 255, .2)
}
.explore:active{
	transform: scale(.97)
}

/*hovers*/
.program:hover{
	width: 100%;
}
.program:hover .program-title{
	padding: 5%;
	font-size: 2em;
}
.program:hover p{
	font-size: 1.1em;
	visibility: initial;
	opacity: 1;
}
/*_____________________________mod3___________________________*/
.mod3{
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center ;
	flex-direction: column;
}
.mod3 h2{
	margin-bottom: 20px;
	text-align: center;
	font-size: 3em;
}
.cards{
	padding-bottom: 2em;
}
.card{
	border-radius: 20px;
    width: 30vw;
    height: 70vh;
    border: solid #000 1px;
    overflow: hidden;
    background: #fff;
	min-width: 300px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
}
.row-header {
	
	background: gray;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.andy-img{
	padding: 15px 0 0 0;
	overflow: hidden;
	max-width: 180px;
}
.andy-img img{
    border: solid #000 .4px;
	border-radius: 20px 20px 20px 20px;
	object-fit: cover;
	width: 100%;
}
.row-body{
	transform: translate(calc(10%));
	max-width: 80%;
}
.row-body h3{
	text-align: center;
	font-size: 1.5em;
	margin: 1.2em 0 .8em 0;
}


/*_____________________________footer___________________________*/
.footer{
	min-height: 30vh;
	min-width: 100%;
	background: #010101;
	font-family: 'Lora', serif;
}
.crossroad-img-footer{
	max-width: 400px;
	width: 100vw;
	margin: 0 auto;
	padding-top: 2vh;
}
.crossroad-img-footer img{
	width: 100%;
}
.contacts{
	width: 100%;
	text-align: center;
	margin-top: 5vh; 
}
.contacts span{
	color: #fff;
}
.row-footer{
	min-width: 350px;
	display: flex;
	justify-content: center;
	margin: 20px 0;

}
.row-footer .item a{
	margin: 0 2vw;
	font-size: 1.8em;
}
/* _____________________________medias___________________________ */

@media screen and ( max-width: 1100px) {
	.mod3{
		font-size: 15px;
	}
}

@media screen and ( max-width: 768px ){
	
	.main-title, .mision{
		text-align: center;
	}

	.programs{
		flex-direction: column;
		min-width: 80vw;
	}
	.program{
		min-width: 100%;
	}
	.group-program{
		background: #000;
		color: #fff;
	}
	.online-program{
		background: var(--german-red);
	}
	.personal-program{
		background: var(--german-yellow);
		color: #000;
	}
	.program:nth-of-type(odd) .explore{
		border: 2px solid #fff;
		color: #fff;
	}
	.program:nth-of-type(odd) .explore a{
		color: #fff;
	}
	

}
@media screen and ( max-width: 767px ){

	.table{
		overflow: auto;
		font-size: 14px;
	}
}
@media screen and ( max-width: 500px ){
	.mod3{
		font-size: 14px;
	}

	.program:hover .program-title{
		padding: 5%;
		font-size: 1.7em;
		min-height: 130%;
	}
	.programs-container {
		font-size: 12px;
	}

	.program-title{
		padding-top: 0;
		padding: 20% 0;
	}
	.card{
		padding-bottom: 20px;
	}
	.footer{
		font-size: 16px;
	}
	.item{
		padding: .2em .4em;

	}
}
/* ______________keyframs___________ */
@keyframes progresive-opacity{
	0%{
		opacity: 0;
	}
	40%{
		opacity: 0;
	}
	60%{
		opacity: .6;
	}
	80%{
		opacity: .6;
	}
	100%{
		opacity: 1;
	}
}
/*_______________ prince-html__________________ */
.title-price{
	color: #fff;
	background: #000;
	font-size: 3em;
	min-width: 100vw;
	text-align: center;
}

.mod-table{
	background: linear-gradient(to right, #010101, #282828, #010101);
	flex:  1;
	min-height: 80vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.table{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: inherit;

}

table{
	width: 80%;
}
th{
	background: #010101;
	color: #fff;
	padding: 10px;
}
td{
	padding: 20px;
}
table, th, td{
	border: #fff solid 1px;
	color: #fff;
	border-collapse: collapse;
}