/*_____________________________out___________________________*/

@import url('https://fonts.googleapis.com/css?family=Lora|Roboto');
/*font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;*/
/*_____________________________global___________________________*/
body{
	margin: 0;
	font-family: 'Roboto', arial;
	background: #F4F4F4;
	min-height: 100vh;
	font-size: 16px;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	/* overflow: hidden; */
	
	transition: 1s;
}
a{
	text-decoration: none;
	color: #E6323A;
}
a:hover{
	color: #fff;
}

img{
	vertical-align: bottom;
}
figure{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul{
	padding-left: 0;
}
/* __________________flotantes___________________________ */
.arrows{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1;
	cursor: pointer;
	display: none;
	visibility: hidden;
}
.arrow{
	display: block;
	width: 50px;
	height: 50px;
	background: rgba(255,255,255,0.6);
	transition: .4s ;
}
.arrow:last-child{
	border-top: solid .5px;
}
.arrow::before{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	content: "^";
	color: #000;
	font-size: 1.5em;

}
.arrow:last-child::before{
	transform: rotate(180deg);
}
.arrow:active {
	background: rgba(9, 45, 81,0.6);

}

/*_____________________________header___________________________*/
.header{
	background: #010101;
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}
.crossroad-img{
	max-width: 900px;
	margin: 0 auto;
}
.crossroad-img img{
	width: 100%;
}
.crossroad-about{
	font-size: 1.5em;
	min-height: 52vh;

	background: #F4F4F4;

	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.crossroad-about *{
	text-align: center;
}
.mision{
	color: gray;
}

.btn-know-more{
	max-width: 400px;
	padding: 10px 20px;
	font-size: 1.1em;
	margin: auto auto;
	color: #fff;
	cursor: pointer;

	background: transparent;
	border: 2px solid #fff;
	border-radius: 3px;
	transition: .4s;
}
.btn-know-more a{
	color: #fff;
}
.btn-know-more:hover a{
	color: #000;
}
.btn-know-more:hover{
	background: #fff;
	color: #000;
}
.btn-know-more:active, .btn-know-more:active a{
	color: #000;
	border-color: #000;
	outline: none;
}
/*_____________________________main-content___________________________*/
.programs-container{
	min-height: 100vh;
	min-width: 99%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-bottom: dashed .5px;


}
.programs-container .description{
	flex: 1;
	text-align: center;
	max-width: 70vw;
	
	font-size: 1.8em;

}
.programs-container h2{
	margin: 5vh 0;
	text-align: center;
	font-size: 3em;
}

.programs{
	font-family: 'Lora', serif;
	min-width: 100%;
	min-height: 50vh;
	background: #3F3F3F;

	display: flex;
	justify-content: space-around;

}
.program{
	width: 33%;
	min-width: 0;
	min-height: 55vh;
	background: #323232;
	transition: .7s;
	color: #fff;

	position: relative;

}
.group-program{
	background: #fff;
	color: #000;
}
.mix-program{
	background: #000;
}
.personal-program{
	background: #EC3138;
	
}
.program-title{
	font-size: 1.5em;
	text-align: center;

	
	padding-top: 35%;
	
	transition: .5s;
}
.program p{
	font-size: 1px;
	max-width: 70%;
	padding-left: 5%;
	opacity: 0;
	visibility: hidden;
	transition: .6s;

}
/*hovers*/
.program:hover{
	width: 100%;
}
.program:hover .program-title{
	padding: 5%;
	font-size: 2em;
}
.program:hover p{
	font-size: 1.1em;
	visibility: initial;
	opacity: 1;
}
/*_____________________________mod3___________________________*/
.mod3{
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center ;
	flex-direction: column;
}
.mod3 h2{
	margin-bottom: 20px;
	text-align: center;
	font-size: 3em;
}
.card{
	border-radius: 20px;
    width: 30vw;
    height: 70vh;
    border: solid #000 1px;
    overflow: hidden;
    background: #fff;
	min-width: 350px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
}
.row-header {
	
	background: gray;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.andy-img{
	padding: 15px 0 0 0;
	overflow: hidden;
	max-width: 180px;
}
.andy-img img{
    border: solid #000 .4px;
	border-radius: 20px 20px 20px 20px;
	object-fit: cover;
	width: 100%;
}
.row-body{
	transform: translate(calc(10%));
	max-width: 80%;
}
.row-body h3{
	text-align: center;
	font-size: 1.5em;
	margin: 1.2em 0 .8em 0;
}


/*_____________________________footer___________________________*/
.footer{
	min-height: 40vh;
	min-width: 100%;
	background: #010101;
	font-family: 'Lora', serif;
}
.crossroad-img-footer{
	max-width: 400px;
	margin: 0 auto;
	padding-top: 2vh;
}
.crossroad-img-footer img{
	width: 100%;
}
.contacts{
	width: 100%;
	text-align: center;
	margin-top: 5vh; 
}
.contacts span{
	color: #fff;
}
/*_____________________________medias___________________________*/

@media screen and ( max-width: 768px ){
	.programs{
		flex-direction: column;
		min-width: 80vw;
	}
	.program{
		min-width: 100%;
	}

}
@media screen and ( max-width: 500px ){
	body{
		font-size: 14px;
	}
	.crossroad-about{
		min-height: 70vh;
		font-size: 1.4em;
	}
	.btn-know-more{
		width: 250px;
	}
	.programs{
		flex-direction: column;
	}
	.program:hover .program-title{
	padding: 5%;
	font-size: 1.7em;
	}
	.program{
		min-width: 100%;
	}
	.programs-container {
		font-size: 12px;
	}
	.program{
		min-height: 120%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.program-title{
		padding-top: 0;
		padding: 20% 0;
	}

	.footer{
		font-size: 16px;
	}
	.item{
		padding: .2em 0;
	}
}